{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="container px-4">
		<h1>Register</h1>

		<span class="text-muted">
			<small>*: champ requis</small>
		</span>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{form_row(registrationForm.firstname,{label:'Prénom'})}}
		{{form_row(registrationForm.lastname,{label:'Nom'})}}
		{{ form_row(registrationForm.email) }}
		{{form_row(registrationForm.roles,{label:'Rôles'})}}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		<button type="submit" class="btn btn-primary">Register</button>
		{{ form_end(registrationForm) }}
	</section>
{% endblock %}
