{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}


	<section class="container px-4">
		<h1>Liste des Livres</h1>
		<ul class="list-group list-group-flush">
			{% for book in books %}
				<div class="card mb-1">
					<div class="card-body">
						<div class="card-title d-flex justify-content-between">
							<a href=" " class="stretched-link link-dark">
								<h4 class="mb-1">{{ book.title }}</h4>
							</a>

							<smallclass="text-muted">identifiant
								{{ book.id }}</small>

							<p>Nombre de pages :
								{{ book.pageNumber }}</p>


							<p>ISBN
								{{book.isbn}}</p>
							<p>Edité le
								{{book.editedAt|date('d M Y') }}</p>

							<p>Plot
								{{book.plot }}</p>
							<p>Cover
								{{book.cover }}</p>
							<p>Status
								{{book.status.value }}</p>
						</p>

						{# Affichage de l'éditeur #}
						<p>
							<strong>Éditeur :</strong>
							{% if book.editor %}
								{{ book.editor.name }}
							{% else %}
								Non renseigné
							{% endif %}
						</p>


						{# Affichage de l'auteur #}
						<strong>Auteur :</strong>
						{% if book.authors is not empty %}
							{% for author in book.authors %}
								{{ author.name }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						{% else %}
							Non renseigné
						{% endif %}
					</p>

					{% if book.cover %}
						<img src="{{ asset('img/' ~ book.cover) }}" alt="Couverture de {{ book.title }}  width=" 80" height=" 120">
					{% else %}
						<img src="{{ asset('img/default_cover.jpg') }}" alt="Image par défaut">
					{% endif %}

				</div>
			</div>
		</div>
	{% else %}
		<li>Aucun enregistrement en base de données.</li>
	{% endfor %}
</ul>


{# Affichage de la pagination #}
<div class="pagination">
	{{ pagerfanta(books, {
        'prev_message': 'Précédent',
        'next_message': 'Suivant'
    }) }}
</div>{% endblock %}
